/vendor
/node_modules
/.git
/.github
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
*.sqlite
.phpunit.result.cache
Dockerfile
.dockerignore
